@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Neutral */
  --neutral-50: 40deg, 23%, 97%;
  --neutral-100: 43deg, 13%, 90%;
  --neutral-200: 40deg, 15%, 80%;
  --neutral-700: 37deg, 11%, 28%;
  --neutral-900: 42deg, 15%, 13%;

  /* Red */
  --red-400: 0deg 64% 55%;

  /* Yellow */
  --yellow-500: 42deg, 87%, 55%;
}
